[package]
name = "continuum-proto"
version = "0.1.0"
edition = "2021"
license.workspace = true
repository.workspace = true

[dependencies]
prost = { workspace = true }
tonic = { workspace = true }

[build-dependencies]
tonic-build = { workspace = true }