[package]
name = "continuum-core"
version = "0.1.0"
edition = "2021"
license.workspace = true
repository.workspace = true

[dependencies]
base64 = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
uuid = { workspace = true }
