[package]
name = "continuum-shim-proto"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
prost = { workspace = true }

[build-dependencies]
tonic-build = { workspace = true }
